// About this study 
.about-this-study-main{
    .technology-overview{
        .technology-overview-left{
            margin-top: 40px;
        }

        .technology-overview-right{
            margin-top: 0;

            h3{
                margin-bottom: 20px;
            }
            p{
                margin-bottom: 30px;
            }
        }
    }
}
// About this study 

// timeline 
.timeline-main{
    .lc-hd{
        width: 585px;
        margin: 0 auto;
    }
    .timeline{
        margin-top: 40px;
    }
}
// timeline 

.find-rap{
    margin-bottom: 50px;
}

// MAP  HighChart
.highcharts-series-group{
    width: 100%;
}
.highcharts-credits{
    display: none;
}
.highcharts-background{
    fill: transparent;
}
.highcharts-legend{
    display: none;
}
.canada-map{
    width: 875px;
    height: 414px;
    @extend bg-img;
    margin: 0 auto -110px;


    &:hover{
        background-image: url('../images/canada-map-hover.png') !important;
    }
}
// MAP  HighChart

.rep-table{
    margin: 30px 0;
    padding: 0 50px;
    table{
        border: 1px solid #e0e0e0;
        width: 100%;

        thead{
            background-color: #004280;
            color: $btn_color; 

            td{ 
                text-transform: uppercase; 
                @include genral-font($fs : 20px, $ff : $font_family_heading, $fw: normal); 

            }
        }

        td{
            border-bottom: 1px solid #e0e0e0; 
            padding: 14px 20px; 
            @include genral-font($fs : 16px, $ff : $font_family_text, $fw: 500);  
        }
    }
}
